<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.AcbMapper">





    <select id="acbFindAll" resultType="com.highway.tunnelMonitoring.domain.power.acb.Acb">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ACB
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'acb_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(acb_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'instl_lc'">
                                            instl_lc
                                        </if>
                                        <if test="sort_column == 'instl_de'">
                                            instl_de
                                        </if>
                                        <if test="sort_column == 'model_nm'">
                                            model_nm
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>



    <select id="acbCountAll" resultType="int">
        SELECT COUNT(*) FROM ACB WHERE LINK_ID = #{link_id}
    </select>

    <select id="acbMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM ACB_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="acbAlarmCountAll" resultType="int">
        SELECT COUNT(*) FROM ACB_ALARM_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <select id="acbRunCountAll" resultType="int">
        SELECT COUNT(*) FROM ACB_RUN_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <insert id="acbEnroll">
        insert into acb(acb_id, LINK_ID, model_nm, instl_lc, instl_de)
        values(#{acb_id}, #{link_id}, #{model_nm}, #{instl_lc}, #{instl_de})
    </insert>

    <update id="acbUpdate">
        update acb set instl_lc = #{instl_lc}, INSTL_DE = #{instl_de}
        where acb_id = #{acb_id} and LINK_ID = #{link_id}
    </update>


    <update id="acbUpdateSttus">
        update ACB_STTUS set AUTO_REMOTE_STTUS = #{auto_remote_sttus},
                             RUN_STTUS = #{run_sttus},
                             OCR_ALARM = #{ocr_alarm},
                             OCGR_ALARM = #{ocgr_alarm},
                             OVR_ALARM = #{ovr_alarm},
                             UVR_ALARM = #{uvr_alarm},
                             OVGR_ALARM = #{ovgr_alarm},
                             POR_ALARM = #{por_alarm}
        where acb_id = #{acb_id} and LINK_ID = #{link_id}
    </update>


    <delete id="acbDelete">
        delete from acb where acb_id = #{acb_id} and LINK_ID = #{link_id}
    </delete>

    <select id="acbMonitor" resultType="com.highway.tunnelMonitoring.domain.power.acb.AcbSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ACB_STTUS
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'acb_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(acb_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'auto_remote_sttus'">
                                            auto_remote_sttus
                                        </if>
                                        <if test="run_sttus == 'run_sttus'">
                                            run_sttus
                                        </if>
                                        <if test="sort_column == 'ocr_alarm'">
                                            ocr_alarm
                                        </if>
                                        <if test="sort_column == 'ocgr_alarm'">
                                            ocgr_alarm
                                        </if>
                                        <if test="sort_column == 'ovr_alarm'">
                                            ovr_alarm
                                        </if>
                                        <if test="sort_column == 'uvr_alarm'">
                                            uvr_alarm
                                        </if>
                                        <if test="sort_column == 'ovgr_alarm'">
                                            ovgr_alarm
                                        </if>
                                        <if test="sort_column == 'por_alarm'">
                                            por_alarm
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="acbCreateAlarmHistory">
        insert into ACB_ALARM_HISTORY(acb_id, LINK_ID, alarm_datetime, alarm_type)
        values(#{acb_id}, #{link_id}, #{alarm_datetime}, #{alarm_type})
    </insert>


    <update id="acbUpdateAlarmHistory">
        update ACB_ALARM_HISTORY set RELEASE_DATETIME = #{release_datetime}
        where acb_id = #{acb_id} and LINK_ID = #{link_id} and ALARM_DATETIME = #{alarm_datetime} and ALARM_TYPE = #{alarm_type}
    </update>


    <select id="acbAlarmHistory" resultType="com.highway.tunnelMonitoring.domain.power.acb.AcbAlarmHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ACB_ALARM_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                     AND ALARM_DATETIME >= #{startDate}
                                     AND ALARM_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'acb_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(acb_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'alarm_datetime'">
                                            alarm_datetime
                                        </if>
                                        <if test="sort_column == 'alarm_type'">
                                            alarm_type
                                        </if>
                                        <if test="sort_column == 'release_datetime'">
                                            release_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="acbCreateRunHistory">
        insert into ACB_RUN_HISTORY(acb_id, LINK_ID, run_start_datetime)
        values(#{acb_id}, #{link_id}, #{run_start_datetime})
    </insert>


    <update id="acbUpdateRunHistory">
        update ACB_RUN_HISTORY set RUN_END_DATETIME = #{run_end_datetime}
        where acb_id = #{acb_id} and LINK_ID = #{link_id} and RUN_START_DATETIME = #{run_end_datetime}
    </update>

    <select id="acbRunHistory" resultType="com.highway.tunnelMonitoring.domain.power.acb.AcbRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ACB_RUN_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                     AND RUN_START_DATETIME >= #{startDate}
                                     AND RUN_START_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'acb_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(acb_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'run_start_datetime'">
                                            run_start_datetime
                                        </if>
                                        <if test="sort_column == 'run_end_datetime'">
                                            run_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>





</mapper>