<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.ventilation.DamperMapper">
    <select id="damperFindAll" resultType="com.highway.tunnelMonitoring.domain.ventilation.damper.ExhaustDamper">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM EXHAUST_DAMPER
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'damper_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(damper_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'instl_lc'">
                                            instl_lc
                                        </if>
                                        <if test="sort_column == 'instl_de'">
                                            instl_de
                                        </if>
                                        <if test="sort_column == 'model_nm'">
                                            model_nm
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="damperCountAll" resultType="int">
        SELECT COUNT(*) FROM EXHAUST_DAMPER WHERE LINK_ID = #{link_id}
    </select>

    <select id="damperMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM EXHAUST_DAMPER_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="damperRunCountAll" resultType="int">
        SELECT COUNT(*) FROM EXHAUST_DAMPER_RUN_HISTORY WHERE LINK_ID = #{link_id}
    </select>


    <insert id="damperEnroll">
        insert into EXHAUST_DAMPER(DAMPER_ID, LINK_ID, model_nm, instl_lc, instl_de)
        values(#{damper_id}, #{link_id}, #{model_nm}, #{instl_lc}, #{instl_de})
    </insert>

    <update id="damperUpdate">
        update EXHAUST_DAMPER set instl_lc = #{instl_lc}, INSTL_DE = #{instl_de}
        where DAMPER_ID = #{damper_id} and LINK_ID = #{link_id}
    </update>


    <update id="damperUpdateSttus">
        update EXHAUST_DAMPER_STTUS set OPEN_STTUS = #{open_sttus}, CLOSE_STTUS = #{close_sttus}
        where DAMPER_ID = #{damper_id} and LINK_ID = #{link_id}
    </update>


    <delete id="damperDelete">
        delete from EXHAUST_DAMPER where DAMPER_ID = #{damper_id} and LINK_ID = #{link_id}
    </delete>

    <select id="damperMonitor" resultType="com.highway.tunnelMonitoring.domain.ventilation.damper.ExhaustDamperSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM EXHAUST_DAMPER_STTUS
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'damper_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(damper_id, '\d+'))
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="damperCreateRunHistory">
        insert into EXHAUST_DAMPER_RUN_HISTORY(DAMPER_ID, LINK_ID,RUN_START_DATETIME)
        values(#{damper_id}, #{link_id}, #{run_start_datetime})
    </insert>


    <update id="damperUpdateRunHistory">
        update EXHAUST_DAMPER_RUN_HISTORY set RUN_END_DATETIME = #{run_end_datetime}
        where DAMPER_ID = #{damper_id} and LINK_ID = #{link_id}
    </update>

    <select id="damperRunHistory" resultType="com.highway.tunnelMonitoring.domain.ventilation.damper.ExhaustDamperRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM EXHAUST_DAMPER_RUN_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                   AND RUN_START_DATETIME >= #{startDate}
                                   AND RUN_START_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'damper_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(damper_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'run_start_datetime'">
                                            run_start_datetime
                                        </if>
                                        <if test="sort_column == 'run_end_datetime'">
                                            run_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>



</mapper>