<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.EltgnrMapper">
    <select id="eltgnrFindAll" resultType="com.highway.tunnelMonitoring.domain.power.eltgnr.Eltgnr">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM eltgnr
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'eltgnr_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(eltgnr_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'instl_lc'">
                                            instl_lc
                                        </if>
                                        <if test="sort_column == 'instl_de'">
                                            instl_de
                                        </if>
                                        <if test="sort_column == 'model_nm'">
                                            model_nm
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="eltgnrCountAll" resultType="int">
        SELECT COUNT(*) FROM eltgnr WHERE LINK_ID = #{link_id}
    </select>

    <select id="eltgnrMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM ELTGNR_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="eltgnrAlarmCountAll" resultType="int">
        SELECT COUNT(*) FROM ELTGNR_ALARM_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <select id="eltgnrRunCountAll" resultType="int">
        SELECT COUNT(*) FROM ELTGNR_RUN_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <insert id="eltgnrEnroll">
        insert into eltgnr(ELTGNR_ID, LINK_ID, model_nm, instl_lc, instl_de)
        values(#{eltgnr_id}, #{link_id}, #{model_nm}, #{instl_lc}, #{instl_de})
    </insert>

    <update id="eltgnrUpdate">
        update eltgnr set instl_lc = #{instl_lc}, INSTL_DE = #{instl_de}
        where ELTGNR_ID = #{eltgnr_id} and LINK_ID = #{link_id}
    </update>

    <update id="eltgnrUpdateSttus">
        update ELTGNR_STTUS set AUTO_REMOTE_STTUS = #{auto_remote_sttus},
                                RUN_STTUS = #{run_sttus},
                                OCR_ALARM = #{ocr_alarm},
                                OCGR_ALARM = #{ocgr_alarm},
                                OVR_ALARM = #{ovr_alarm},
                                UVR_ALARM = #{uvr_alarm},
                                OVGR_ALARM = #{ovgr_alarm},
                                POR_ALARM = #{por_alarm}
        where ELTGNR_ID = #{eltgnr_id} and LINK_ID = #{link_id}
    </update>

    <delete id="eltgnrDelete">
        delete from eltgnr where ELTGNR_ID = #{eltgnr_id} and LINK_ID = #{link_id}
    </delete>

    <select id="eltgnrMonitor" resultType="com.highway.tunnelMonitoring.domain.power.eltgnr.EltgnrSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ELTGNR_STTUS
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'eltgnr_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(eltgnr_id, '\d+'))
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                        DESC
                                        </if>

        ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="eltgnrCreateAlarmHistory">
        insert into ELTGNR_ALARM_HISTORY(ELTGNR_ID, LINK_ID, ALARM_DATETIME, ALARM_TYPE)
        values(#{eltgnr_id}, #{link_id}, #{alarm_datetime}, #{alarm_type})
    </insert>

    <select id="eltgnrAlarmHistory" resultType="com.highway.tunnelMonitoring.domain.power.eltgnr.EltgnrAlarmHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ELTGNR_ALARM_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                   AND ALARM_DATETIME >= #{startDate}
                                   AND ALARM_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'eltgnr_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(eltgnr_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'alarm_datetime'">
                                            alarm_datetime
                                        </if>
                                        <if test="sort_column == 'alarm_type'">
                                            alarm_type
                                        </if>
                                        <if test="sort_column == 'release_datetime'">
                                            release_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                        DESC
                                        </if>

        ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="eltgnrCreateRunHistory">
        insert into ELTGNR_RUN_HISTORY(ELTGNR_ID, LINK_ID, RUN_START_DATETIME)
        values(#{eltgnr_id}, #{link_id}, #{run_start_datetime})
    </insert>

    <select id="eltgnrRunHistory" resultType="com.highway.tunnelMonitoring.domain.power.eltgnr.EltgnrRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ELTGNR_RUN_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                     AND RUN_START_DATETIME >= #{startDate}
                                     AND RUN_START_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'eltgnr_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(eltgnr_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'run_start_datetime'">
                                            run_start_datetime
                                        </if>
                                        <if test="sort_column == 'run_end_datetime'">
                                            run_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>





</mapper>