<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.EntryEntrBarMapper">
    <select id="entryEntrBarFindAll" resultType="com.highway.tunnelMonitoring.domain.power.entryentrbar.EntryEntrBar">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM entry_entr_bar
                                   where LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'entry_entr_bar_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(entry_entr_bar_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'instl_lc'">
                                            instl_lc
                                        </if>
                                        <if test="sort_column == 'instl_de'">
                                            instl_de
                                        </if>
                                        <if test="sort_column == 'model_nm'">
                                            model_nm
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="entryEntrBarCountAll" resultType="int">
        SELECT COUNT(*) FROM entry_entr_bar WHERE LINK_ID = #{link_id}
    </select>

    <select id="entryEntrBarMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM ENTRY_ENTR_BAR_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="entryEntrBarFaultCountAll" resultType="int">
        SELECT COUNT(*) FROM ENTRY_ENTR_BAR_FAULT_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <select id="entryEntrBarRunCountAll" resultType="int">
        SELECT COUNT(*) FROM ENTRY_ENTR_BAR_RUN_HISTORY WHERE LINK_ID = #{link_id}
    </select>


    <insert id="entryEntrBarEnroll">
        insert into entry_entr_bar(entry_entr_bar_id, link_id, instl_lc, instl_de)
        values(#{entry_entr_bar_id}, #{link_id},#{instl_lc}, #{instl_de})
    </insert>

    <update id="entryEntrBarUpdate">
        update entry_entr_bar set instl_lc = #{instl_lc}, instl_de = #{instl_de}
        where entry_entr_bar_id = #{entry_entr_bar_id} and LINK_ID = #{link_id}
    </update>

    <delete id="entryEntrBarDelete">
        delete from entry_entr_bar where entry_entr_bar_id = #{entry_entr_bar_id} and LINK_ID = #{link_id}
    </delete>

    <select id="entryEntrBarMonitor" resultType="com.highway.tunnelMonitoring.domain.power.entryentrbar.EntryEntrBarSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ENTRY_ENTR_BAR_STTUS
                                   where LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'entry_entr_bar_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(entry_entr_bar_id, '\d+'))
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="entryEntrBarFaultHistory" resultType="com.highway.tunnelMonitoring.domain.power.entryentrbar.EntryEntrBarFaultHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ENTRY_ENTR_BAR_FAULT_HISTORY
                                   where LINK_ID = #{link_id}
                                   AND FAULT_START_DATETIME >= #{startDate}
                                   AND FAULT_START_DATETIME &lt;= #{endData}
                                   ORDER BY
                                        <if test="sort_column == 'entry_entr_bar_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(entry_entr_bar_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'fault_start_datetime'">
                                            fault_start_datetime
                                        </if>
                                        <if test="sort_column == 'fault_end_datetime'">
                                            fault_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <select id="entryEntrBarRunHistory" resultType="com.highway.tunnelMonitoring.domain.power.entryentrbar.EntryEntrBarRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ENTRY_ENTR_BAR_RUN_HISTORY
                                   where LINK_ID = #{link_id}
                                     AND RUN_START_DATETIME >= #{startDate}
                                     AND RUN_START_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'entry_entr_bar_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(entry_entr_bar_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'run_start_datetime'">
                                            run_start_datetime
                                        </if>
                                        <if test="sort_column == 'run_end_datetime'">
                                            run_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>
</mapper>