<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.EntryEntrBarMapper">
    <select id="entryEntrBarFindAll" resultType="com.highway.tunnelMonitoring.domain.power.entryentrbar.EntryEntrBar">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM entry_entr_bar
                                   where LINK_ID = #{link_id}
                                   ORDER BY entry_entr_bar_id
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="entryEntrBarCountAll" resultType="int">
        SELECT COUNT(*) FROM entry_entr_bar
    </select>

    <select id="entryEntrBarMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM ENTRY_ENTR_BAR_STTUS
    </select>

    <select id="entryEntrBarFaultCountAll" resultType="int">
        SELECT COUNT(*) FROM ENTRY_ENTR_BAR_FAULT_HISTORY
    </select>

    <select id="entryEntrBarRunCountAll" resultType="int">
        SELECT COUNT(*) FROM ENTRY_ENTR_BAR_RUN_HISTORY
    </select>


    <insert id="entryEntrBarEnroll">
        insert into entry_entr_bar(entry_entr_bar_id, link_id, instl_lc, instl_de)
        values(#{entry_entr_bar_id}, #{link_id},#{instl_lc}, #{instl_de})
    </insert>

    <update id="entryEntrBarUpdate">
        update entry_entr_bar set instl_lc = #{instl_lc}, instl_de = #{instl_de}
        where entry_entr_bar_id = #{entry_entr_bar_id} and LINK_ID = #{link_id}
    </update>

    <delete id="entryEntrBarDelete">
        delete from entry_entr_bar where entry_entr_bar_id = #{entry_entr_bar_id} and LINK_ID = #{link_id}
    </delete>

    <select id="entryEntrBarMonitor" resultType="com.highway.tunnelMonitoring.domain.power.entryentrbar.EntryEntrBarSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ENTRY_ENTR_BAR_STTUS
                                   where LINK_ID = #{link_id}
                                   ORDER BY ENTRY_ENTR_BAR_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="entryEntrBarFaultHistory" resultType="com.highway.tunnelMonitoring.domain.power.entryentrbar.EntryEntrBarFaultHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ENTRY_ENTR_BAR_FAULT_HISTORY
                                   where LINK_ID = #{link_id}
                                   ORDER BY ENTRY_ENTR_BAR_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <select id="entryEntrBarRunHistory" resultType="com.highway.tunnelMonitoring.domain.power.entryentrbar.EntryEntrBarRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ENTRY_ENTR_BAR_RUN_HISTORY
                                   where LINK_ID = #{link_id}
                                   ORDER BY ENTRY_ENTR_BAR_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>
</mapper>