<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.FrplgMapper">
    <select id="frplgFindAll" resultType="com.highway.tunnelMonitoring.domain.power.frplg.Frplg">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM frplg
                                   where LINK_ID = #{link_id}
                                   ORDER BY frplg_id
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="frplgCountAll" resultType="int">
        SELECT COUNT(*) FROM frplg WHERE LINK_ID = #{link_id}
    </select>

    <select id="frplgMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM FRPLG_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="frplgAlarmCountAll" resultType="int">
        SELECT COUNT(*) FROM FRPLG_ALARM_HISTORY WHERE LINK_ID = #{link_id}
    </select>


    <insert id="frplgEnroll">
        insert into frplg(frplg_id, link_id, model_nm, instl_lc)
        values(#{frplg_id}, #{link_id}, #{model_nm}, #{instl_lc})
    </insert>

    <update id="frplgUpdate">
        update frplg set instl_lc = #{instl_lc}, model_nm = #{model_nm}
        where frplg_id = #{frplg_id} and LINK_ID = #{link_id}
    </update>

    <delete id="frplgDelete">
        delete from frplg where frplg_id = #{frplg_id} and LINK_ID = #{link_id}
    </delete>

    <select id="frplgMonitor" resultType="com.highway.tunnelMonitoring.domain.power.frplg.FrplgSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM FRPLG_STTUS
                                   where LINK_ID = #{link_id}
                                   ORDER BY FRPLG_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <select id="frplgAlarmHistory" resultType="com.highway.tunnelMonitoring.domain.power.frplg.FrplgAlarmHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM FRPLG_ALARM_HISTORY
                                   where LINK_ID = #{link_id}
                                   ORDER BY FRPLG_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>
</mapper>