<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.ventilation.HeatingCableMapper">
    <select id="heatingCableFindAll" resultType="com.highway.tunnelMonitoring.domain.ventilation.heatingcable.HeatingCable">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM HEATING_CABLE
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'cable_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(cable_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'instl_lc'">
                                            instl_lc
                                        </if>
                                        <if test="sort_column == 'instl_de'">
                                            instl_de
                                        </if>
                                        <if test="sort_column == 'model_nm'">
                                            model_nm
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="heatingCableCountAll" resultType="int">
        SELECT COUNT(*) FROM HEATING_CABLE WHERE LINK_ID = #{link_id}
    </select>

    <select id="heatingCableMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM HEATING_CABLE_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="heatingCableRunCountAll" resultType="int">
        SELECT COUNT(*) FROM HEATING_CABLE_RUN_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <select id="heatingCableAlarmCountAll" resultType="int">
        SELECT COUNT(*) FROM HEATING_CABLE_ALARM_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <insert id="heatingCableEnroll">
        insert into HEATING_CABLE(CABLE_ID, LINK_ID, model_nm, X_CRDNT, Y_CRDNT, INSTL_LC, instl_de)
        values(#{cable_id}, #{link_id}, #{model_nm}, #{x_crdnt}, #{y_crdnt}, #{instl_lc}, #{instl_de})
    </insert>

    <update id="heatingCableUpdate">
        update HEATING_CABLE set INSTL_DE = #{instl_de}
        where CABLE_ID = #{cable_id} and LINK_ID = #{link_id}
    </update>

    <update id="heatingCableUpdateSttus">
        update HEATING_CABLE_STTUS set RUN_STTUS = #{run_sttus},
                                       ALARM_STTUS = #{alarm_sttus},
                                       HIGH_TEMP_ALARM = #{high_temp_alarm},
                                       LOW_TEMP_ALARM = #{low_temp_alarm}
        where CABLE_ID = #{cable_id} and LINK_ID = #{link_id}
    </update>

    <delete id="heatingCableDelete">
        delete from HEATING_CABLE where CABLE_ID = #{cable_id} and LINK_ID = #{link_id}
    </delete>

    <select id="heatingCableMonitor" resultType="com.highway.tunnelMonitoring.domain.ventilation.heatingcable.HeatingCableSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM HEATING_CABLE_STTUS
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'cable_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(cable_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'run_sttus'">
                                            run_sttus
                                        </if>
                                        <if test="sort_column == 'alarm_sttus'">
                                            alarm_sttus
                                        </if>
                                        <if test="sort_column == 'high_temp_alarm'">
                                            high_temp_alarm
                                        </if>
                                        <if test="sort_column == 'low_temp_alarm'">
                                            low_temp_alarm
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>



    <insert id="heatingCableCreateAlarmHistory">
        insert into HEATING_CABLE_ALARM_HISTORY(CABLE_ID, LINK_ID, ALARM_DATETIME, ALARM_TYPE)
        values(#{cable_id}, #{link_id}, #{alarm_datetime}, #{alarm_type})
    </insert>


    <update id="heatingCableUpdateAlarmHistory">
        update HEATING_CABLE_ALARM_HISTORY set RELEASE_DATETIME = #{release_datetime}
        where CABLE_ID = #{cable_id} and LINK_ID = #{link_id} and ALARM_DATETIME = #{alarm_datetime} and ALARM_TYPE = #{alarm_type}
    </update>

    <select id="heatingCableAlarmHistory" resultType="com.highway.tunnelMonitoring.domain.ventilation.heatingcable.HeatingCableAlarmHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM HEATING_CABLE_ALARM_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                   AND ALARM_DATETIME >= #{startDate}
                                   AND ALARM_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'cable_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(cable_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'alarm_datetime'">
                                            alarm_datetime
                                        </if>
                                        <if test="sort_column == 'alarm_type'">
                                            alarm_type
                                        </if>
                                        <if test="sort_column == 'release_datetime'">
                                            release_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <insert id="heatingCableCreateRunHistory">
        insert into HEATING_CABLE_RUN_HISTORY(CABLE_ID, LINK_ID, RUN_START_DATETIME)
        values(#{cable_id}, #{link_id}, #{run_start_datetime})
    </insert>


    <update id="heatingCableUpdateRunHistory">
        update HEATING_CABLE_RUN_HISTORY set RUN_END_DATETIME = #{run_end_datetime}
        where CABLE_ID = #{cable_id} and LINK_ID = #{link_id} and RUN_START_DATETIME = #{run_start_datetime}
    </update>

    <select id="heatingCableRunHistory" resultType="com.highway.tunnelMonitoring.domain.ventilation.heatingcable.HeatingCableRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM HEATING_CABLE_RUN_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                   AND RUN_START_DATETIME >= #{startDate}
                                   AND RUN_START_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'cable_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(cable_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'run_start_datetime'">
                                            run_start_datetime
                                        </if>
                                        <if test="sort_column == 'run_end_datetime'">
                                            run_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


</mapper>