<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.ventilation.JetPanMapper">
    <select id="jetPanFindAll" resultType="com.highway.tunnelMonitoring.domain.ventilation.jetpan.JetPan">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM JET_PAN
                                   where LINK_ID = #{link_id}
                                   ORDER BY
                                    <if test="sort_column == 'jet_pan_id'">
                                        TO_NUMBER(REGEXP_SUBSTR(JET_PAN_ID, '\d+'))
                                    </if>
                                    <if test="sort_column == 'instl_lc'">
                                        instl_lc
                                    </if>
                                    <if test="sort_column == 'instl_de'">
                                        instl_de
                                    </if>
                                    <if test="sort_direction == 'asc'">
                                        ASC
                                    </if>
                                    <if test="sort_direction == 'desc'">
                                        DESC
                                    </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="jetPanCountAll" resultType="int">
        SELECT COUNT(*) FROM JET_PAN WHERE LINK_ID = #{link_id}
    </select>

    <select id="jetPanMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM JET_PAN_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="jetPanFaultCountAll" resultType="int">
        SELECT COUNT(*) FROM JET_PAN_FAULT_HISTORY WHERE LINK_ID = #{link_id} AND FAULT_START_DATETIME >= #{startDate}
                                                     AND FAULT_START_DATETIME &lt;= #{endDate}
    </select>

    <select id="jetPanRunCountAll" resultType="int">
        SELECT COUNT(*) FROM JET_PAN_RUN_HISTORY WHERE LINK_ID = #{link_id} AND RUN_START_DATETIME >= #{startDate}
                                                   AND RUN_START_DATETIME &lt;= #{endDate}
    </select>

    <select id="jetPanStatCountAll" resultType="int">
        SELECT COUNT(*) FROM JET_PAN_STAT WHERE LINK_ID = #{link_id} AND RECORD_DATE >= #{startDate}
                                            AND RECORD_DATE &lt;= #{endDate}
    </select>


    <insert id="jetPanEnroll">
        insert into JET_PAN(JET_PAN_ID, link_id, MODEL_NM, X_CRDNT, Y_CRDNT,  instl_lc, instl_de)
        values(#{jet_pan_id}, #{link_id}, #{model_nm}, #{x_crdnt}, #{y_crdnt}, #{instl_lc}, #{instl_de})
    </insert>

    <insert id="jetPanSttusEnroll">
        insert into JET_PAN_STTUS(JET_PAN_ID, link_id)
        values(#{jet_pan_id}, #{link_id})
    </insert>

    <update id="jetPanUpdate">
        update JET_PAN set instl_lc = #{instl_lc}, instl_de = #{instl_de}
        where JET_PAN_ID = #{jet_pan_id} and LINK_ID = #{link_id}
    </update>


    <update id="jetPanUpdateSttus">
        update JET_PAN_STTUS set REMOTE_MODE = #{remote_mode},
                                 FORWARD_MODE = #{forward_mode},
                                 REVERSE_MODE = #{reverse_mode},
                                 FAULT_STTUS = #{fault_sttus}
        where JET_PAN_ID = #{jet_pan_id} and LINK_ID = #{link_id}
    </update>

    <delete id="jetPanDelete">
        delete from JET_PAN where JET_PAN_ID = #{jet_pan_id} and LINK_ID = #{link_id}
    </delete>


    <select id="jetPanMonitor" resultType="com.highway.tunnelMonitoring.domain.ventilation.jetpan.JetPanSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM JET_PAN_STTUS
                                   where LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'jet_pan_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(JET_PAN_ID, '\d+'))
                                        </if>
                                        <if test="sort_column == 'remote_mode'">
                                            remote_mode
                                        </if>
                                        <if test="sort_column == 'forward_mode'">
                                            forward_mode
                                        </if>
                                        <if test="sort_column == 'reverse_mode'">
                                            reverse_mode
                                        </if>
                                        <if test="sort_column == 'fault_sttus'">
                                            fault_sttus
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="jetPanCreateFaultHistory">
        insert into JET_PAN_FAULT_HISTORY(JET_PAN_ID, link_id,  FAULT_START_DATETIME)
        values(#{jet_pan_id}, #{link_id}, #{fault_start_datetime})
    </insert>


    <update id="jetPanUpdateFaultHistory">
        update JET_PAN_FAULT_HISTORY set FAULT_END_DATETIME = #{fault_end_datetime}
        where JET_PAN_ID = #{jet_pan_id} and LINK_ID = #{link_id} and FAULT_START_DATETIME = #{fault_start_datetime}
    </update>

    <select id="jetPanFaultHistory" resultType="com.highway.tunnelMonitoring.domain.ventilation.jetpan.JetPanFaultHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM JET_PAN_FAULT_HISTORY
                                   where LINK_ID = #{link_id}
                                     AND FAULT_START_DATETIME >= #{startDate}
                                     AND FAULT_START_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'jet_pan_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(JET_PAN_ID, '\d+'))
                                        </if>
                                        <if test="sort_column == 'fault_start_datetime'">
                                            fault_start_datetime
                                        </if>
                                        <if test="sort_column == 'fault_end_datetime'">
                                            instl_dfault_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="jetPanCreateRunHistory">
        insert into JET_PAN_RUN_HISTORY(JET_PAN_ID, link_id,  RUN_START_DATETIME)
        values(#{jet_pan_id}, #{link_id}, #{run_start_datetime})
    </insert>

    <update id="jetPanUpdateRunHistory">
        update JET_PAN_RUN_HISTORY set RUN_END_DATETIME = #{run_end_datetime}
        where JET_PAN_ID = #{jet_pan_id} and LINK_ID = #{link_id} and RUN_START_DATETIME = #{run_start_datetime}
    </update>

    <select id="jetPanRunHistory" resultType="com.highway.tunnelMonitoring.domain.ventilation.jetpan.JetPanRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM JET_PAN_RUN_HISTORY
                                   where LINK_ID = #{link_id}
                                     AND RUN_START_DATETIME >= #{startDate}
                                     AND RUN_START_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'jet_pan_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(JET_PAN_ID, '\d+'))
                                        </if>
                                        <if test="sort_column == 'run_start_datetime'">
                                            fault_start_datetime
                                        </if>
                                        <if test="sort_column == 'run_end_datetime'">
                                            instl_dfault_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="jetPanStat" resultType="com.highway.tunnelMonitoring.domain.ventilation.jetpan.JetPanStat">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM JET_PAN_STAT
                                   where LINK_ID = #{link_id}
                                   AND RECORD_DATE >= #{startDate}
                                   AND RECORD_DATE &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'jet_pan_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(JET_PAN_ID, '\d+'))
                                        </if>
                                        <if test="sort_column == 'record_date'">
                                            record_date
                                        </if>
                                        <if test="sort_column == 'run_time_hours'">
                                            run_time_hours
                                        </if>
                                        <if test="sort_column == 'fault_count'">
                                            fault_count
                                        </if>
                                        <if test="sort_column == 'run_count'">
                                            run_count
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>




    <insert id="jetPanRecordStat">
        INSERT INTO jet_pan_stat (jet_pan_id, link_id, record_date, run_time_hours, fault_count, run_count)
        SELECT
        r.jet_pan_id,
        r.link_id,
        TRUNC(SYSDATE - 1) AS record_date,  -- 어제 날짜 기준으로 기록

        -- 가동 시간 계산 (초 단위로 변환 후, 시간으로 변환)
        SUM(
        CASE
        -- 어제 시작되고 어제 종료된 경우
        WHEN TRUNC(r.run_start_datetime) = TRUNC(SYSDATE - 1)
        AND TRUNC(r.run_end_datetime) = TRUNC(SYSDATE - 1) THEN
        (EXTRACT(HOUR FROM (r.run_end_datetime - r.run_start_datetime)) +
        EXTRACT(MINUTE FROM (r.run_end_datetime - r.run_start_datetime)) / 60)  -- 시간과 분 계산

        -- 어제 시작되고 아직 종료되지 않은 경우 (24시간에서 시작 시간만큼 뺌)
        WHEN TRUNC(r.run_start_datetime) = TRUNC(SYSDATE - 1)
        AND r.run_end_datetime IS NULL THEN
        24 - (EXTRACT(HOUR FROM r.run_start_datetime) +
        EXTRACT(MINUTE FROM r.run_start_datetime) / 60)  -- 24시간에서 시작 시간을 뺀 값

        -- 전날 시작되어 어제 종료된 경우 (종료 시간만 사용)
        WHEN TRUNC(r.run_start_datetime) &lt; TRUNC(SYSDATE - 1)
        AND TRUNC(r.run_end_datetime) = TRUNC(SYSDATE - 1) THEN
        (EXTRACT(HOUR FROM r.run_end_datetime) +
        EXTRACT(MINUTE FROM r.run_end_datetime) / 60)  -- 자정부터 종료 시점까지 시간 계산

        -- 전날 시작되어 아직 종료되지 않은 경우 (24시간으로 설정)
        WHEN TRUNC(r.run_start_datetime) &lt; TRUNC(SYSDATE - 1)
        AND r.run_end_datetime IS NULL THEN
        24  -- 자정부터 현재까지 24시간으로 설정

        ELSE 0
        END
        ) AS run_time_hours,  -- 시간을 시간 단위로 변환

        -- 고장 횟수 계산
        (SELECT COUNT(f.fault_start_datetime)
        FROM jet_pan_fault_history f
        WHERE f.jet_pan_id = r.jet_pan_id
        AND f.link_id = r.link_id
        AND TRUNC(f.fault_start_datetime) = TRUNC(SYSDATE - 1)) AS fault_count,

        -- 가동 횟수 계산
        COUNT(CASE WHEN TRUNC(r.run_start_datetime) = TRUNC(SYSDATE - 1) THEN 1 END) AS run_count


        FROM jet_pan_run_history r
        WHERE TRUNC(r.run_start_datetime) &lt;= TRUNC(SYSDATE - 1)
        AND (TRUNC(r.run_end_datetime) >= TRUNC(SYSDATE - 1)
        OR r.run_end_datetime IS NULL)
        GROUP BY r.jet_pan_id, r.link_id;

    </insert>


</mapper>