<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.LghtMapper">
    <select id="findAll" resultType="com.highway.tunnelMonitoring.domain.power.Lght">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM lght
                                   ORDER BY LGHT_GROUP_NO, LGHT_KND
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM lght
    </select>
    <select id="findOne" resultType="com.highway.tunnelMonitoring.domain.power.Lght">
        SELECT * FROM lght
        where LGHT_GROUP_NO = #{LGHT_GROUP_NO} AND LGHT_KND = #{LGHT_KND}
    </select>

    <insert id="enroll">
        insert into lght(LGHT_GROUP_NO, LGHT_KND, makr_nm, model_nm, instl_lc, instl_de, instl_milg, BEGIN_X_CRDNT, BEGIN_Y_CRDNT, END_X_CRDNT, END_Y_CRDNT, LMTR_NO)
        values(#{LGHT_GROUP_NO}, #{LGHT_KND}, #{makr_nm}, #{model_nm}, #{instl_lc}, #{instl_de}, #{instl_milg}, #{BEGIN_X_CRDNT}, #{BEGIN_Y_CRDNT}, #{END_X_CRDNT}, #{END_Y_CRDNT}, #{LMTR_NO})
    </insert>

    <update id="update">
        update lght set instl_lc = #{instl_lc}
        where LGHT_GROUP_NO = #{LGHT_GROUP_NO}
    </update>

    <delete id="delete">
        delete from lght where LGHT_GROUP_NO = #{LGHT_GROUP_NO} AND LGHT_KND = #{LGHT_KND}
    </delete>

    <select id="monitor" resultType="com.highway.tunnelMonitoring.dto.power.lght.LghtMonitorDTO">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM LGHT_STTUS
                                   ORDER BY LGHT_GROUP_NO, LGHT_KND
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>
</mapper>