<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.LmtrMapper">
    <select id="findAll" resultType="com.highway.tunnelMonitoring.domain.power.lmtr.Lmtr">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM lmtr
                                   ORDER BY lmtr_no
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM lmtr
    </select>
    <select id="findOne" resultType="com.highway.tunnelMonitoring.domain.power.lmtr.Lmtr">
        SELECT * FROM lmtr
        where lmtr_no = #{lmtr_no}
    </select>

    <insert id="enroll">
        insert into lmtr(lmtr_no, makr_nm, model_nm, instl_lc, instl_de, instl_milg, exchng_de, x_crdnt, y_crdnt)
        values(#{lmtr_no}, #{makr_nm}, #{model_nm}, #{instl_lc}, #{instl_de}, #{instl_milg}, #{exchng_de}, #{x_crdnt}, #{y_crdnt})
    </insert>

    <update id="update">
        update lmtr set instl_lc = #{instl_lc}, x_crdnt = #{x_crdnt}
        where lmtr_no = #{lmtr_no}
    </update>

    <delete id="delete">
        delete from lmtr where lmtr_no = #{lmtr_no}
    </delete>
</mapper>