<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.ventilation.PumpMapper">
    <select id="pumpFindAll" resultType="com.highway.tunnelMonitoring.domain.ventilation.pump.Pump">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM PUMP
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY PUMP_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="pumpCountAll" resultType="int">
        SELECT COUNT(*) FROM PUMP WHERE LINK_ID = #{link_id}
    </select>

    <select id="pumpMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM PUMP_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="pumpFaultCountAll" resultType="int">
        SELECT COUNT(*) FROM PUMP_FAULT_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <select id="pumpRunCountAll" resultType="int">
        SELECT COUNT(*) FROM PUMP_RUN_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <select id="pumpStatCountAll" resultType="int">
        SELECT COUNT(*) FROM PUMP_STAT WHERE LINK_ID = #{link_id}
    </select>


    <insert id="pumpEnroll">
        insert into PUMP(PUMP_ID, LINK_ID, model_nm, instl_lc, instl_de)
        values(#{PUMP_ID}, #{link_id}, #{model_nm}, #{instl_lc}, #{instl_de})
    </insert>

    <update id="pumpUpdate">
        update PUMP set instl_lc = #{instl_lc}, INSTL_DE = #{instl_de}
        where PUMP_ID = #{PUMP_ID} and LINK_ID = #{link_id}
    </update>

    <delete id="pumpDelete">
        delete from PUMP where PUMP_ID = #{PUMP_ID} and LINK_ID = #{link_id}
    </delete>

    <select id="pumpMonitor" resultType="com.highway.tunnelMonitoring.domain.ventilation.pump.PumpSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM PUMP_STTUS
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY PUMP_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="pumpFaultHistory" resultType="com.highway.tunnelMonitoring.domain.ventilation.pump.PumpFaultHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM PUMP_FAULT_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY PUMP_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="pumpRunHistory" resultType="com.highway.tunnelMonitoring.domain.ventilation.pump.PumpRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM PUMP_RUN_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY PUMP_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="pumpStat" resultType="com.highway.tunnelMonitoring.domain.ventilation.pump.PumpStat">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM PUMP_STAT
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY PUMP_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>




</mapper>