<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.RectMapper">
    <select id="rectFindAll" resultType="com.highway.tunnelMonitoring.domain.power.rect.Rect">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM rect
                                   where LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'rect_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(rect_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'instl_lc'">
                                            instl_lc
                                        </if>
                                        <if test="sort_column == 'instl_de'">
                                            instl_de
                                        </if>
                                        <if test="sort_column == 'model_nm'">
                                            model_nm
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="rectCountAll" resultType="int">
        SELECT COUNT(*) FROM rect WHERE LINK_ID = #{link_id}
    </select>

    <select id="rectMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM RECT_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="rectAlarmCountAll" resultType="int">
        SELECT COUNT(*) FROM RECT_ALARM_HISTORY WHERE LINK_ID = #{link_id}
    </select>


    <insert id="rectEnroll">
        insert into rect(rect_id, LINK_ID, instl_lc, instl_de)
        values(#{rect_id}, #{link_id}, #{instl_lc}, #{instl_de})
    </insert>

    <update id="rectUpdate">
        update rect set instl_lc = #{instl_lc}, instl_de = #{instl_de}
        where rect_id = #{rect_id} and LINK_ID = #{link_id}
    </update>


    <update id="rectUpdateSttus">
        update RECT_STTUS set LOW_VLTGE_ALARM = #{low_vltge_alarm},
                              ALTRCRT_VLTGE_VALUE = #{altrcrt_vltge_value},
                              DCTR_VLTGE_VALUE = #{dctr_vltge_value},
                              DCTR_ERCRT_1_VALUE = #{dctr_ercrt_1_value},
                              DCTR_ERCRT_2_VALUE = #{dctr_ercrt_2_value}
        where rect_id = #{rect_id} and LINK_ID = #{link_id}
    </update>

    <delete id="rectDelete">
        delete from rect where rect_id = #{rect_id} and LINK_ID = #{link_id}
    </delete>

    <select id="rectMonitor" resultType="com.highway.tunnelMonitoring.domain.power.rect.RectSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM RECT_STTUS
                                   where LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'rect_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(rect_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'altrcrt_vltge_value'">
                                            altrcrt_vltge_value
                                        </if>
                                        <if test="sort_column == 'dctr_vltge_value'">
                                            dctr_vltge_value
                                        </if>
                                        <if test="sort_column == 'dctr_ercrt_1_value'">
                                            dctr_ercrt_1_value
                                        </if>
                                        <if test="sort_column == 'dctr_ercrt_2_value'">
                                            dctr_ercrt_2_value
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="rectCreateAlarmHistory">
        insert into RECT_ALARM_HISTORY(rect_id, LINK_ID, ALARM_DATETIME, ALARM_TYPE)
        values(#{rect_id}, #{link_id}, #{alarm_datetime}, #{alarm_type})
    </insert>

    <select id="rectAlarmHistory" resultType="com.highway.tunnelMonitoring.domain.power.rect.RectAlarmHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM RECT_ALARM_HISTORY
                                   where LINK_ID = #{link_id}
                                     AND ALARM_DATETIME >= #{startDate}
                                     AND ALARM_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'rect_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(rect_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'alarm_datetime'">
                                            alarm_datetime
                                        </if>
                                        <if test="sort_column == 'alarm_type'">
                                            alarm_type
                                        </if>
                                        <if test="sort_column == 'release_datetime'">
                                            release_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>
</mapper>