<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.RectMapper">
    <select id="findAll" resultType="com.highway.tunnelMonitoring.domain.power.Rect">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM rect
                                   ORDER BY rect_no
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM rect
    </select>
    <select id="findOne" resultType="com.highway.tunnelMonitoring.domain.power.Rect">
        SELECT * FROM rect
        where rect_no = #{rect_no}
    </select>

    <insert id="enroll">
        insert into rect(rect_no, makr_nm, model_nm, instl_lc, instl_de, pero, x_crdnt, y_crdnt)
        values(#{rect_no}, #{makr_nm}, #{model_nm}, #{instl_lc}, #{instl_de}, #{pero}, #{x_crdnt}, #{y_crdnt})
    </insert>

    <update id="update">
        update rect set instl_lc = #{instl_lc}, x_crdnt = #{x_crdnt}
        where rect_no = #{rect_no}
    </update>

    <delete id="delete">
        delete from rect where rect_no = #{rect_no}
    </delete>
</mapper>