<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.ventilation.mapper.RefgePouMapper">
    <select id="findAll" resultType="com.highway.ventilation.domain.refgepou.RefgePou">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM refge_pou
                                   ORDER BY pou_no
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM refge_pou
    </select>
    <select id="findOne" resultType="com.highway.ventilation.domain.refgepou.RefgePou">
        SELECT * FROM refge_pou
        where pou_no = #{pou_no}
    </select>

    <insert id="enroll">
        insert into refge_pou(pou_no, link_id, makr_nm, instl_lc, instl_de, instl_milg, x_crdnt, y_crdnt)
        values(#{pou_no}, 'link2', #{makr_nm}, #{instl_lc}, #{instl_de}, #{instl_milg}, #{x_crdnt}, #{y_crdnt})
    </insert>

    <update id="update">
        update refge_pou set instl_lc = #{instl_lc}, x_crdnt = #{x_crdnt}
        where pou_no = #{pou_no}
    </update>

    <delete id="delete">
        delete from refge_pou where pou_no = #{pou_no}
    </delete>
</mapper>