<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.TrnsfmrMapper">
    <select id="findAll" resultType="com.highway.tunnelMonitoring.domain.power.Trnsfmr">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM trnsfmr
                                   ORDER BY trnsfmr_no
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM trnsfmr
    </select>
    <select id="findOne" resultType="com.highway.tunnelMonitoring.domain.power.Trnsfmr">
        SELECT * FROM trnsfmr
        where trnsfmr_no = #{trnsfmr_no}
    </select>

    <insert id="enroll">
        insert into trnsfmr(trnsfmr_no, pow_pop_no, makr_nm, model_nm)
        values(#{trnsfmr_no}, #{pow_pop_no}, #{makr_nm}, #{model_nm})
    </insert>


    <delete id="delete">
        delete from trnsfmr where trnsfmr_no = #{trnsfmr_no}
    </delete>

    <select id="monitor" resultType="com.highway.tunnelMonitoring.dto.power.trnsfmr.TrnsfmrMonitorDTO">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM TRNSFMR_STTUS
                                   ORDER BY TRNSFMR_NO
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>
</mapper>