<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.UpsMapper">
    <select id="upsFindAll" resultType="com.highway.tunnelMonitoring.domain.power.ups.Ups">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ups
                                   where LINK_ID = #{link_id}
                                   ORDER BY ups_id
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="upsCountAll" resultType="int">
        SELECT COUNT(*) FROM ups
    </select>

    <select id="upsMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM UPS_STTUS
    </select>

    <select id="upsFaultCountAll" resultType="int">
        SELECT COUNT(*) FROM UPS_FAULT_HISTORY
    </select>

    <select id="upsRunCountAll" resultType="int">
        SELECT COUNT(*) FROM UPS_RUN_HISTORY
    </select>

    <insert id="upsEnroll">
        insert into ups(ups_id, LINK_ID, model_nm, instl_lc, instl_de)
        values(#{ups_id}, #{link_id}, #{model_nm}, #{instl_lc}, #{instl_de})
    </insert>

    <update id="upsUpdate">
        update ups set instl_lc = #{instl_lc}, instl_de = #{instl_de}
        where ups_id = #{ups_id} and LINK_ID = #{link_id}
    </update>

    <delete id="upsDelete">
        delete from ups where ups_id = #{ups_id} and LINK_ID = #{link_id}
    </delete>

    <select id="upsMonitor" resultType="com.highway.tunnelMonitoring.domain.power.ups.UpsSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM UPS_STTUS
                                   where LINK_ID = #{link_id}
                                   ORDER BY UPS_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="upsFaultHistory" resultType="com.highway.tunnelMonitoring.domain.power.ups.UpsFaultHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM UPS_FAULT_HISTORY
                                   where LINK_ID = #{link_id}
                                   ORDER BY UPS_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="upsRunHistory" resultType="com.highway.tunnelMonitoring.domain.power.ups.UpsRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM UPS_RUN_HISTORY
                                   where LINK_ID = #{link_id}
                                   ORDER BY UPS_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>
</mapper>