<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.UpsMapper">
    <select id="upsFindAll" resultType="com.highway.tunnelMonitoring.domain.power.ups.Ups">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM ups
                                   where LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'ups_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(ups_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'instl_lc'">
                                            instl_lc
                                        </if>
                                        <if test="sort_column == 'instl_de'">
                                            instl_de
                                        </if>
                                        <if test="sort_column == 'model_nm'">
                                            model_nm
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="upsCountAll" resultType="int">
        SELECT COUNT(*) FROM ups WHERE LINK_ID = #{link_id}
    </select>

    <select id="upsMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM UPS_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="upsFaultCountAll" resultType="int">
        SELECT COUNT(*) FROM UPS_FAULT_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <select id="upsRunCountAll" resultType="int">
        SELECT COUNT(*) FROM UPS_RUN_HISTORY
    </select>

    <insert id="upsEnroll">
        insert into ups(ups_id, LINK_ID, model_nm, instl_lc, instl_de)
        values(#{ups_id}, #{link_id}, #{model_nm}, #{instl_lc}, #{instl_de})
    </insert>

    <update id="upsUpdate">
        update ups set instl_lc = #{instl_lc}, instl_de = #{instl_de}
        where ups_id = #{ups_id} and LINK_ID = #{link_id}
    </update>

    <update id="upsUpdateSttus">
        update UPS_STTUS set RUN_STTUS = #{run_sttus},
                             FAULT_STTUS = #{fault_sttus},
                             BYPASS_STTUS = #{bypass_sttus}
        where ups_id = #{ups_id} and LINK_ID = #{link_id}
    </update>

    <delete id="upsDelete">
        delete from ups where ups_id = #{ups_id} and LINK_ID = #{link_id}
    </delete>

    <select id="upsMonitor" resultType="com.highway.tunnelMonitoring.domain.power.ups.UpsSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM UPS_STTUS
                                   where LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'ups_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(ups_id, '\d+'))
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
        ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="upsCreateFaultHistory">
        insert into UPS_FAULT_HISTORY(ups_id, LINK_ID, FAULT_START_DATETIME)
        values(#{ups_id}, #{link_id}, #{fault_start_datetime})
    </insert>


    <update id="upsUpdateFaultHistory">
        update UPS_FAULT_HISTORY set FAULT_END_DATETIME = #{fault_end_datetime}
        where ups_id = #{ups_id} and LINK_ID = #{link_id}
    </update>

    <select id="upsFaultHistory" resultType="com.highway.tunnelMonitoring.domain.power.ups.UpsFaultHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM UPS_FAULT_HISTORY
                                   where LINK_ID = #{link_id}
                                     AND FAULT_START_DATETIME >= #{startDate}
                                     AND FAULT_START_DATETIME &lt;= #{endData}
                                   ORDER BY
                                        <if test="sort_column == 'ups_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(ups_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'fault_start_datetime'">
                                            fault_start_datetime
                                        </if>
                                        <if test="sort_column == 'fault_end_datetime'">
                                            fault_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
        ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="upsCreateRunHistory">
        insert into UPS_RUN_HISTORY(ups_id, LINK_ID, RUN_START_DATETIME)
        values(#{ups_id}, #{link_id}, #{run_start_datetime})
    </insert>

    <update id="upsUpdateRunHistory">
        update UPS_RUN_HISTORY set RUN_END_DATETIME = #{run_end_datetime}
        where ups_id = #{ups_id} and LINK_ID = #{link_id}
    </update>

    <select id="upsRunHistory" resultType="com.highway.tunnelMonitoring.domain.power.ups.UpsRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM UPS_RUN_HISTORY
                                   where LINK_ID = #{link_id}
                                     AND RUN_START_DATETIME >= #{startDate}
                                     AND RUN_START_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'ups_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(ups_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'run_start_datetime'">
                                            run_start_datetime
                                        </if>
                                        <if test="sort_column == 'run_end_datetime'">
                                            run_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>
</mapper>