<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.power.VcbMapper">
    <select id="vcbFindAll" resultType="com.highway.tunnelMonitoring.domain.power.vcb.Vcb">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM vcb
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'vcb_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(vcb_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'instl_lc'">
                                            instl_lc
                                        </if>
                                        <if test="sort_column == 'instl_de'">
                                            instl_de
                                        </if>
                                        <if test="sort_column == 'model_nm'">
                                            model_nm
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
        ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="vcbCountAll" resultType="int">
        SELECT COUNT(*) FROM vcb WHERE LINK_ID = #{link_id}
    </select>

    <select id="vcbMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM VCB_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="vcbAlarmCountAll" resultType="int">
        SELECT COUNT(*) FROM VCB_ALARM_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <select id="vcbRunCountAll" resultType="int">
        SELECT COUNT(*) FROM VCB_RUN_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <insert id="vcbEnroll">
        insert into vcb(vcb_id, LINK_ID, model_nm, instl_lc, instl_de)
        values(#{vcb_id}, #{link_id}, #{model_nm}, #{instl_lc}, #{instl_de})
    </insert>

    <update id="vcbUpdate">
        update vcb set instl_lc = #{instl_lc}, INSTL_DE = #{instl_de}
        where vcb_id = #{vcb_id} and LINK_ID = #{link_id}
    </update>

    <update id="vcbUpdateSttus">
        update VCB_STTUS set AUTO_REMOTE_STTUS = #{auto_remote_sttus},
                             RUN_STTUS = #{run_sttus},
                             OCR_ALARM = #{ocr_alarm},
                             OCGR_ALARM = #{ocgr_alarm},
                             OVR_ALARM = #{ovr_alarm},
                             UVR_ALARM = #{uvr_alarm},
                             OVGR_ALARM = #{ovgr_alarm},
                             POR_ALARM = #{por_alarm}
        where vcb_id = #{vcb_id} and LINK_ID = #{link_id}
    </update>

    <delete id="vcbDelete">
        delete from vcb where vcb_id = #{vcb_id} and LINK_ID = #{link_id}
    </delete>

    <select id="vcbMonitor" resultType="com.highway.tunnelMonitoring.domain.power.vcb.VcbSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM VCB_STTUS
                                   WHERE LINK_ID = #{link_id}
                                   ORDER BY
                                        <if test="sort_column == 'vcb_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(vcb_id, '\d+'))
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="vcbCreateAlarmHistory">
        insert into VCB_ALARM_HISTORY(vcb_id, LINK_ID, ALARM_DATETIME, ALARM_TYPE)
        values(#{vcb_id}, #{link_id}, #{alarm_datetime}, #{alarm_type})
    </insert>

    <select id="vcbAlarmHistory" resultType="com.highway.tunnelMonitoring.domain.power.vcb.VcbAlarmHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM VCB_ALARM_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                     AND ALARM_DATETIME >= #{startDate}
                                     AND ALARM_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'vcb_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(vcb_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'alarm_datetime'">
                                            alarm_datetime
                                        </if>
                                        <if test="sort_column == 'alarm_type'">
                                            alarm_type
                                        </if>
                                        <if test="sort_column == 'release_datetime'">
                                            release_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>


    <insert id="vcbCreateRunHistory">
        insert into VCB_RUN_HISTORY(vcb_id, LINK_ID, RUN_START_DATETIME)
        values(#{vcb_id}, #{link_id}, #{run_start_datetime})
    </insert>

    <select id="vcbRunHistory" resultType="com.highway.tunnelMonitoring.domain.power.vcb.VcbRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM VCB_RUN_HISTORY
                                   WHERE LINK_ID = #{link_id}
                                     AND RUN_START_DATETIME >= #{startDate}
                                     AND RUN_START_DATETIME &lt;= #{endDate}
                                   ORDER BY
                                        <if test="sort_column == 'vcb_id'">
                                            TO_NUMBER(REGEXP_SUBSTR(vcb_id, '\d+'))
                                        </if>
                                        <if test="sort_column == 'run_start_datetime'">
                                            run_start_datetime
                                        </if>
                                        <if test="sort_column == 'run_end_datetime'">
                                            run_end_datetime
                                        </if>
                                        <if test="sort_direction == 'asc'">
                                            ASC
                                        </if>
                                        <if test="sort_direction == 'desc'">
                                            DESC
                                        </if>
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>





</mapper>