<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.ventilation.mapper.VenAxfnMapper">
    <select id="findAll" resultType="com.highway.ventilation.domain.venaxfn.VenAxfn">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM VEN_AXFN
                                   ORDER BY VEN_AXFN_NO
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM VEN_AXFN
    </select>
    <select id="findOne" resultType="com.highway.ventilation.domain.venaxfn.VenAxfn">
        SELECT * FROM VEN_AXFN
        where VEN_AXFN_NO = #{VEN_AXFN_NO}
    </select>

    <insert id="enroll">
        insert into VEN_AXFN(VEN_AXFN_NO, link_id, makr_nm, instl_lc, instl_de, instl_milg, x_crdnt, y_crdnt)
        values(#{VEN_AXFN_NO}, 'link2', #{makr_nm}, #{instl_lc}, #{instl_de}, #{instl_milg}, #{x_crdnt}, #{y_crdnt})
    </insert>

    <update id="update">
        update VEN_AXFN set instl_lc = #{instl_lc}, x_crdnt = #{x_crdnt}
        where VEN_AXFN_NO = #{VEN_AXFN_NO}
    </update>

    <delete id="delete">
        delete from VEN_AXFN where VEN_AXFN_NO = #{VEN_AXFN_NO}
    </delete>
</mapper>