<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.ventilation.VenAxFnMapper">
    <select id="venAxFnFindAll" resultType="com.highway.tunnelMonitoring.domain.ventilation.venaxfn.VenAxFn">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM VEN_AX_FN
                                   where LINK_ID = #{link_id}
                                   ORDER BY VEN_AX_FN_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="venAxFnCountAll" resultType="int">
        SELECT COUNT(*) FROM VEN_AX_FN WHERE LINK_ID = #{link_id}
    </select>

    <select id="venAxFnMonitorCountAll" resultType="int">
        SELECT COUNT(*) FROM VEN_AX_FN_STTUS WHERE LINK_ID = #{link_id}
    </select>

    <select id="venAxFnFaultCountAll" resultType="int">
        SELECT COUNT(*) FROM VEN_AX_FN_FAULT_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <select id="venAxFnRunCountAll" resultType="int">
        SELECT COUNT(*) FROM VEN_AX_FN_RUN_HISTORY WHERE LINK_ID = #{link_id}
    </select>

    <select id="venAxFnStatCountAll" resultType="int">
        SELECT COUNT(*) FROM VEN_AX_FN_STAT WHERE LINK_ID = #{link_id}
    </select>


    <insert id="venAxFnEnroll">
        insert into VEN_AX_FN(VEN_AX_FN_ID, link_id, FAN_TYPE, instl_lc, instl_de)
        values(#{ven_ax_fn_id}, #{link_id}, #{fan_type}, #{instl_lc}, #{instl_de})
    </insert>

    <update id="venAxFnUpdate">
        update VEN_AX_FN set instl_lc = #{instl_lc}, instl_de = #{instl_de}
        where VEN_AX_FN_ID = #{ven_ax_fn_id} and LINK_ID = #{link_id}
    </update>

    <delete id="venAxFnDelete">
        delete from VEN_AX_FN where VEN_AX_FN_ID = #{ven_ax_fn_id} and LINK_ID = #{link_id}
    </delete>

    <select id="venAxFnMonitor" resultType="com.highway.tunnelMonitoring.domain.ventilation.venaxfn.VenAxFnSttus">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM VEN_AX_FN_STTUS
                                   where LINK_ID = #{link_id}
                                   ORDER BY VEN_AX_FN_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="venAxFnFaultHistory" resultType="com.highway.tunnelMonitoring.domain.ventilation.venaxfn.VenAxFnFaultHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM VEN_AX_FN_FAULT_HISTORY
                                   where LINK_ID = #{link_id}
                                   ORDER BY VEN_AX_FN_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="venAxFnRunHistory" resultType="com.highway.tunnelMonitoring.domain.ventilation.venaxfn.VenAxFnRunHistory">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM VEN_AX_FN_RUN_HISTORY
                                   where LINK_ID = #{link_id}
                                   ORDER BY VEN_AX_FN_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="venAxFnStat" resultType="com.highway.tunnelMonitoring.domain.ventilation.venaxfn.VenAxFnStat">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM VEN_AX_FN_STAT
                                   where LINK_ID = #{link_id}
                                   ORDER BY VEN_AX_FN_ID
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

</mapper>