<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.ventilation.mapper.VenVsMsrinsMapper">
    <select id="findAll" resultType="com.highway.ventilation.domain.venmsrins.VenVsMsrins">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM VEN_VS_MSRINS
                                   ORDER BY VEN_VS_MSRINS_NO
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM VEN_VS_MSRINS
    </select>
    <select id="findOne" resultType="com.highway.ventilation.domain.venmsrins.VenVsMsrins">
        SELECT * FROM VEN_VS_MSRINS
        where VEN_VS_MSRINS_NO = #{VEN_VS_MSRINS_NO}
    </select>

    <insert id="enroll">
        insert into VEN_VS_MSRINS(VEN_VS_MSRINS_NO, link_id, makr_nm, instl_lc, instl_de, instl_milg, x_crdnt, y_crdnt)
        values(#{VEN_VS_MSRINS_NO}, 'link2', #{makr_nm}, #{instl_lc}, #{instl_de}, #{instl_milg}, #{x_crdnt}, #{y_crdnt})
    </insert>

    <update id="update">
        update VEN_VS_MSRINS set instl_lc = #{instl_lc}, x_crdnt = #{x_crdnt}
        where VEN_VS_MSRINS_NO = #{VEN_VS_MSRINS_NO}
    </update>

    <delete id="delete">
        delete from VEN_VS_MSRINS where VEN_VS_MSRINS_NO = #{VEN_VS_MSRINS_NO}
    </delete>
</mapper>