<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highway.tunnelMonitoring.mapper.ventilation.OuthosInshltMapper">
    <select id="findAll" resultType="com.highway.tunnelMonitoring.domain.ventilation.inshlt.OuthousInshlt">
        SELECT * FROM (
                          SELECT a.*, ROWNUM rnum
                          FROM (
                                   SELECT * FROM OUTHOUS_INSHLT
                                   ORDER BY INSHLT_NO
                               ) a
                      )
        WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM OUTHOUS_INSHLT
    </select>
    <select id="findOne" resultType="com.highway.tunnelMonitoring.domain.ventilation.inshlt.OuthousInshlt">
        SELECT * FROM OUTHOUS_INSHLT
        where INSHLT_NO = #{INSHLT_NO}
    </select>

    <insert id="enroll">
        insert into OUTHOUS_INSHLT(INSHLT_NO, link_id, makr_nm, instl_lc, instl_de, instl_milg, x_crdnt, y_crdnt)
        values(#{INSHLT_NO}, 'link2', #{makr_nm}, #{instl_lc}, #{instl_de}, #{instl_milg}, #{x_crdnt}, #{y_crdnt})
    </insert>

    <update id="update">
        update OUTHOUS_INSHLT set instl_lc = #{instl_lc}, x_crdnt = #{x_crdnt}
        where INSHLT_NO = #{INSHLT_NO}
    </update>

    <delete id="delete">
        delete from OUTHOUS_INSHLT where INSHLT_NO = #{INSHLT_NO}
    </delete>
</mapper>